.event-listing {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    width: 98%;
    overflow: hidden;
    position: relative;
    padding: 0 10px;
    transition: all 500ms;
    opacity: 1;
}



.event-listing-top {
    flex: 18%;

}

.filter-box {
    /* background-color: #F9F9F9; */
    display: flex;
    gap: 10px;
    /* height: 40px; */
}

.filter-box button {
    padding: 2px 10px;
    font-size: 0.75rem;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(162, 162, 162, 0.55);
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(162, 162, 162, 0.35);
    cursor: pointer;
}

.filter-box button:active {
    box-shadow: inset 1px 1px 10px rgba(162, 162, 162, 0.35);
}

.event-listing-mid {
    flex: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid #00000026;
}


.result-count {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.result-count h2 {
    font-weight: 800;
    font-size: 1.3rem;
}

.result-count span {
    margin-left: 3px;
    margin-top: 5px;
}

.event-listing-sort {
    width: 30%;
    text-align: left;
}

.event-listing-bottom {
    flex: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    overflow: scroll;
    height: 100%;
    padding-top: 10px;
    padding-right: 19px;
    padding-left: 10px;
}

.event-listing-bottom-heading {
    margin: auto;
    text-align: center;
    /* display: flex; */
    width: 100%;

}

.searchbar {
    position: relative;
}

.searchbar-inp {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
}

.search-result-container {
    content: "";
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    min-height: 50px;
    max-height: 55vh;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(162, 162, 162, 0.35);
    border-radius: 8px;
    z-index: 200;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
    overflow: scroll;
}

.search-result-container-main {}

.search-key {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    padding: 10px 20px;
    cursor: pointer;
}

.search-key:hover {
    background-color: rgba(162, 162, 162, 0.35);
}

.search-result-img {
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius: 3px;
}

.search-result-img img {
    height: 100%;
    width: 100%;
}


.search-result-line {
    padding: 10px 20px;
    text-align: left;
    align-items: center;
    display: flex;
    gap: 20px;
    cursor: pointer;
    font-size: 0.8rem;
    position: relative;
}

.search-result-line:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.35);
}

.search-result-info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.search-result-line:hover {
    background-color: rgba(162, 162, 162, 0.35);

}


.event-add-btn-container {
    position: absolute;
    bottom: 44px;
    right: 38px;
    z-index: 500;
}

.event-add-btn-container button {
    background-color: #456AF2;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 8px #456af2;
    padding: 10px 0px;
    border: none;
}



/* responsiveness */

@media only screen and (max-width: 1127px) {
    .event-listing-bottom {
        justify-content: center;
    }

    .event-listing-bottom .Card {
        /* width: 80% !important; */
        height: 100%;
        /* max-width: unset !important; */
    }
}

@media only screen and (max-width: 660px) {
    .event-listing-mid {
        flex-direction: column-reverse;
        /* justify-content: start; */
        align-items: start;
    }

    .result-count {
        display: none;
    }


    .filter-box {
        margin-bottom: 5px;
        width: 100%;
        justify-content: space-between;
    }

    .filter-box button {
        width: 48%;
    }

    .filter-box button:last-child {
        margin-right: 15px;
    }

}