.chatPortal {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-left: 1px solid rgba(162, 162, 162, 0.1);
    border-right: 1px solid rgba(162, 162, 162, 0.1);
}

.cp-top {
    flex: 0.1;
    background-color: white;
    width: 100%;
    box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.25);
    z-index: 5;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.cp-top-logo {
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 50%;
}

.cp-top-info {
    margin-left: 20px;
}

.cp-top-name {
    font-weight: 600;
}

.cp-mid {
    flex: 0.8;
    width: 100%;
    padding: 20px 10px;
    overflow: scroll;
}

.cp-btm {
    flex: 0.1;
    width: 100%;
    background-color: white;
    box-shadow: 0px -15px 20px -15px rgba(0, 0, 0, 0.25);
    z-index: 5;
    display: flex;
    align-items: center;
}

.cp-btm-inp-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cp-btm-inp {
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid rgb(162, 162, 162);
    background-color: #F6F8FC;
    flex: 0.7;
}

.cp-btm-inp-btn {
    flex: 0.2;
}


.cp-mid
{
    font-size: 0.75rem;
}

.cp-mid-others {
    margin-bottom: 30px;
    display: flex;
    width: 90%;
}

.cp-mid-you {
    width: 95%;
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
}


.cp-mid-img {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cp-mid-left {
    display: flex;
    flex-direction: column;
}

.cp-mid-right {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.cp-mid-info {
    display: flex;
    color: rgba(162, 162, 162);
}

.cp-mid-you .cp-mid-left {
    align-items: end;
}

.cp-mid-info-name {
    margin-right: 20px;
    font-weight: 600;
    color: black !important;
}

.cp-mid-you .cp-mid-info-name {
    margin-left: 20px;
    font-weight: 600;
    color: black !important;
    margin-right: 0px;
}

.cp-mid-message {
    background-color: #fff;
    width: 50%;
    text-align: left;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    margin-top: 8px;
}

.cp-mid-message-other {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}

.cp-mid-message-you {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: rgba(69, 106, 242);
    color: white;
}