.add-event-map-container {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 3px 15px rgb(167 191 218 / 45%);
    overflow: hidden;
}

.add-event-map-container .leaflet-container {
    width: 100%;
    /* min-height: 500px;
    max-height: 500px; */
    height: 100%;
}

.leaflet-control-container .leaflet-top {
    position: absolute;
    top: 10px;
    right: 20px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none !important;
}

.leaflet-locationiq-input {
    width: 96%;
    padding: 5px;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.leaflet-touch .leaflet-bar a {
    display: none;
}

.leaflet-locationiq-close {
    display: none;
}

.leaflet-locationiq-list {
    background-color: #fff;
    padding: 7px;
    margin-top: 2px;
    border-radius: 8px;
    width: 95%;
    list-style: none;
}

.leaflet-locationiq-results {
    overflow-y: scroll;
}

.leaflet-locationiq-result {
    padding: 2px;
}

.leaflet-locationiq-result:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
}