.Home {
    /* background: url("./bg.jpg") no-repeat center center/cover; */
    height: 100%;
    width: 100vw;
    /* padding: 30px; */
    overflow: hidden;
    position: relative;
}

.home-container {
    height: 85%;
    width: 51% !important;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 3px 30px rgb(167 191 218 / 45%);
    display: flex;
    padding: 30px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 400000000;
    overflow: hidden;
    border: 1px solid rgba(162, 162, 162, 0.3);
}





.home-login-container {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 4000000;
    display: flex;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 10px;
}

.home-login-loggedOut-container {
    box-shadow: 1px 3px 10px rgb(39 42 46 / 15%);
    border-radius: 10px;
    background-color: white;
}

.home-login-container button {
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.home-login-container button:nth-child(1):active {
    box-shadow: inset 1px 3px 10px rgb(39 42 46 / 15%);
}

.home-login-container button:nth-child(2) {
    background-color: #456AF2;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 8px #456AF2;
}

.home-login-container button:nth-child(2):active {
    box-shadow: none !important;
}


.user-location {
    position: absolute;
    padding: 10px;
    background-color: #456AF2;
    box-shadow: 1px 1px 17px #456AF2;
    border-radius: 10px;
    z-index: 5;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all 250ms;
    z-index: 4000000;
}

.user-location:hover {
    background-color: #3a55b9;
}

.user-location span {
    display: none;
}

.searchbar {
    display: flex;
}

.home-map {
    width: 100%;
}