.Card {
    height: 25vw;
    width: 45%;
    min-height: 277px;
    min-width: 250px;
    margin-bottom: 7%;
    box-shadow: 7px 4px 20px rgb(30 30 30 / 18%);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    cursor: pointer;
    transition: all 350ms;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.Card:hover {
    /* box-shadow: 1px 3px 10px rgba(0, 0, 0, 0), inset 1px 3px 10px rgba(0, 0, 0, 0.11); */
}

.card-container {
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
}

.card-container-main {
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.card-top {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img {
    height: 70%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 50;
}

.card-sticker-container {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    z-index: 50000;
}

.card-sticker {
    /* box-shadow: 1px 1px 5px rgb(17 201 106 / 73%); */
    background-color: rgb(0 177 85);
    padding: 1px 7px;
    border-radius: 8px;
    font-size: 0.6rem;
    margin-bottom: 5px;
    text-align: center;
}

.host-sticker {
    background-color: rgb(0 177 85/60%);
}

.participant-sticker {
    background-color: rgb(69 102 246/60%);
}

.past-sticker {
    background-color: rgb(246 69 69/60%);
}

.card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0px;
}

.card-main-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    width: 100%;
}

.card-details span {
    display: flex;
}

.card-location {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-location-more {
    display: flex;
    margin-left: 13px;
}

.card-location span {
    font-size: 0.8rem;
    /* color: #444444; */
}

.card-location h4 {
    /* max-width: 100px; */
    max-height: 20px;
    overflow: hidden;
    text-align: left;
    font-size: 0.8rem;
}

.card-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 2px solid #00000026;
}

.card-bottom span {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}


@media only screen and (max-width: 660px) {
    .Card {
        width: 80%;
        height: 75vw;
    }
}