.sidebar {
    z-index: 4000000;
    width: 50px;
    background-color: white;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 85%;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border-radius: 15px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo {
    /* background-color: #0C7F51; */
    color: white;
    border-radius: 50%;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    /* box-shadow: 1px 1px 17px #0C7F51; */
    transition: all 250ms;
}

#logo-pic {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sidebar-op {
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 250ms;
    padding: 10px;

}

.sidebar-op:hover {
    color: #0C7F51;
}

.sidebar-selected {
    border-radius: 50%;
    color: white;
    color: #0C7F51;
}

.sidebar-mobile {
    position: absolute;
    top: 0;
    z-index: 500;
    padding: 10px 0px;
    width: 100%;
    left: 0%;
    display: none;
    overflow: hidden;
    font-size: 18px;
}

.sidebar-mobile-open {
    background-color: white;
    z-index: 800;
    animation: sidebar_mobile_change 250ms;
}

.sidebar-mobile-icon {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

@keyframes sidebar_mobile_change {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: rgba(255, 255, 255, 1);
    }
}

.sidebar-mobile-container {
    display: flex;
    align-items: center;
    width: 91%;
    justify-content: space-between;
    margin: auto;
    transition: all 250ms;
}

.sidebar-menu-opener-button {
    border-radius: 6px;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 5px;
}

.sidebar-menu-opener-button:active {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.sidebar-mobile-head {
    color: #0C7F51;
}

.sidemar-menu-container-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidemar-menu-container-option {
    margin: 20px 0;
    font-size: 22px;
}

.sidebar-menu-container {
    display: none;
    z-index: 700;
    position: absolute;
    top: 5%;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    animation: sidebar_appear 250ms;
}

@media only screen and (max-width: 660px) {
    .sidebar {
        display: none;
    }

    .sidebar-mobile {
        display: block;
    }

    .sidebar-menu-container-open {
        display: flex;
    }
}

@keyframes sidebar_appear {
    0% {

        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}