.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 50%;
    height: 70%;
    padding: 10px;
}

.login-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    justify-content: center;
}

.login-heading {
    margin-bottom: 20px;
    text-align: center;

}

.google-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-login-main {
    /* width: 100%; */
    margin-bottom: 10px;
}



.google-login-container-partition-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 68%;
}

.google-login-container-partition-wrapper span {
    color: rgba(0, 0, 0, 0.75);
}

.google-login-container-partition {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    width: 100%;

}


.google-login-container-partition-line {
    width: 45%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}


.login-partition {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-partition div {
    height: 1px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.15);
}

.login-partition span {
    margin: 0 5px;
}

.auth-input {
    width: 100%;
    margin-top: 10px !important;
}

.login-credential-more {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 0 8px;
}

.login-credential-more .forgot-password {
    text-decoration: underline;
    cursor: pointer;
}

.login-main-container .login-button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-main-container .signup-button {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
    .login-container {
        width: 100%;
    }
}



@media only screen and (max-width: 660px) {
    .login-heading {
        margin-bottom: 10px;
        font-size: 13px;
    }




    .login-credential-more {
        font-size: 12px;
    }


    .login-credential-more label span {
        font-size: 12px !important;
    }

    .login-credential-more label svg {
        /* font-size: 12px !important; */
        /* display: none; */
        width: 15px;

    }

    .login-main-container .login-button {
        margin-top: 20px;
        font-size: 12px;
    }

    .login-main-container .signup-button {
        margin-top: 20px;
        font-size: 12px;
    }

    .signup-route {
        font-size: 12px;
    }

    .login-route {
        font-size: 13px;
    }



}